extends ./layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen sobre la empresa", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae augue auctor erat elementum efficitur non eu justo. Ut quis fringilla neque, eu ultricies erat. Etiam congue elementum dapibus. Integer interdum venenatis magna, tincidunt molestie erat finibus quis. Nam elementum quis magna sit amet posuere. Nam sit amet ante sed felis malesuada dapibus ac ut erat. Sed sit amet urna at enim placerat auctor. Aenean rhoncus et elit ut interdum.
                p Mauris venenatis ut orci sit amet pharetra. Donec at lacus quis diam semper scelerisque vel et justo. Nam neque dui, accumsan eu sollicitudin id, blandit ac eros. Nam et interdum metus. Nunc eleifend, tortor a facilisis faucibus, ante diam feugiat elit, sed posuere neque quam id lorem. Sed consectetur dignissim eleifend. Integer facilisis auctor purus. Proin at imperdiet tellus.
                p Vivamus vel dapibus libero. Mauris dictum facilisis commodo. Aliquam auctor, leo ac posuere iaculis, arcu dui malesuada elit, non auctor turpis elit vitae odio. Aliquam erat volutpat. Morbi volutpat mi id nisi aliquet, aliquet lacinia quam posuere. Etiam at ipsum odio. Integer arcu odio, scelerisque in lacinia id, euismod id neque. Donec quam urna, posuere eu euismod a, condimentum sed augue. Aenean ullamcorper enim eu semper tempor. Integer sed odio hendrerit, vehicula sem euismod.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="Icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vivamus vel dapibus libero. Mauris dictum facilisis commodo. Aliquam auctor, leo ac posuere iaculis, arcu dui malesuada elit, non auctor turpis elit vitae odio. Aliquam erat volutpat. Morbi volutpat mi id nisi aliquet, aliquet lacinia quam posuere. Etiam at ipsum odio. Integer arcu odio, scelerisque in lacinia id, euismod id neque.
                
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="Icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vivamus vel dapibus libero. Mauris dictum facilisis commodo. Aliquam auctor, leo ac posuere iaculis, arcu dui malesuada elit, non auctor turpis elit vitae odio. Aliquam erat volutpat. Morbi volutpat mi id nisi aliquet, aliquet lacinia quam posuere. Etiam at ipsum odio. Integer arcu odio, scelerisque in lacinia id, euismod id neque.
                
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="Icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Vivamus vel dapibus libero. Mauris dictum facilisis commodo. Aliquam auctor, leo ac posuere iaculis, arcu dui malesuada elit, non auctor turpis elit vitae odio. Aliquam erat volutpat. Morbi volutpat mi id nisi aliquet, aliquet lacinia quam posuere. Etiam at ipsum odio. Integer arcu odio, scelerisque in lacinia id, euismod id neque.